<h4 class="title">ノート一覧<h4>
  <div class="topPage">
    <div class="listWrapper">
      <% @notes.each do |note| %>
        <div class="note">
          <div class="note_header">
            <h2 class="note_header_title"><%= note.title %></h2>
            <div class="note_edit">
              <%= link_to edit_note_path(note), class: "item-edit" do %>
              <i class="fas fa-edit" title="編集"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
