.title {
  text-align: center;
  padding: 40px 0px 30px;
}

.form-group {
  max-width: 900px;
  margin: 0 auto;
  width: 90%;
  padding: 10px 80px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  box-sizing: border-box;
}



// ボタン
.btn {
  font-size: 1rem;
  line-height: 1;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 10px;
  margin: 20px;
}

.btn--darkblue.btn--border-groove {
  border: 6px groove #03b5cc;
  color: #017281;
  background-color: #d0f5fa;
  width: 280px;
}

.btn--rightblue.btn--border-groove {
  border: 6px groove #c3f2f8;
  color: #4f7479;
  width: 280px;
}