body {
  padding-top: 70px;
}

.navbar-right .navbar-nav .nav-link {
  color: white;
}

.navbar {
  background-color: white;
  box-shadow: 0 0 5px #89c7de;
  height: 60px;

  &-brand {
  position: absolute;
  font-size: 25px;
  }

  &-nav {
    display: inline-block;
    padding: 0;
    margin-left: auto
  }
}

.nav-item {
      display: inline-block;
      padding: 15px;
      margin-left: auto
}
